.quiz-container {
    max-width: 1000px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.question-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
    background: #f9f9f9;
}

.question-image { 
    max-width: 1000px;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tile:focus img{
    width: 771px;
    height: 600px;
}

.options-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.option-btn { 
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
    background: #fff; 
    border: 2px solid #eee; 
    transition: 0.3s; 
}

.option-btn:hover:not(:disabled) { 
    background: #e0e0e0; 
}

.option-btn.correct {
    background: #4caf50; 
    color: white; 
    border-color: #4caf50; 
}

.option-btn.wrong { 
    background: #f44336; 
    color: white; 
    border-color: #f44336; 
}

.next-btn { 
    margin-top: 20px; 
    padding: 10px 20px; 
    background: #2196f3; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

